/*work sans font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/*header style**/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

}

nav li {
    margin-left: 40px;
    list-style: none;
    font-size: 1rem;

}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 15px 20px;
    color: aliceblue;

}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/**main style*/
main {
    max-width: 1440px;
    margin: 70px auto;
}

/**teams style*/
.teams-contain {
    display: flex;
    align-items: center;

}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 45px;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 400px;
}

.teams-title .feature {
    color: #FF900E;
}

/*facts style**/
.facts-card-container {
    display: flex;
    justify-content: space-around;


}

.facts-card-container .card {
    width: 240px;
    height: 240px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px;

}

/**sponser style*/
.sponeser-img {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.sponeser-img img {
    width: 140px;
}

/**responsive medeia quary*/

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .facts-card-container,
    .teams-contain,
    .sponeser-img {
        flex-direction: column;
    }

    .teams-img {
        grid-template-columns: 1fr;

    }
}

/**footer style*/
footer {
    background-color: #FFF4E7;
    text-align: center;
    padding: 20px;
}

/**tablet*/
@media screen and (min-width: 576px) and (max-width: 960px) {

    nav,
    .teams-contain,
    .sponeser-img {
        flex-direction: column;
    }

    header {
        padding: 40px;
    }
}