/*work sans font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/*header style**/
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

}

nav li {
    margin-left: 40px;
    list-style: none;
    font-size: 1rem;

}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 15px 20px;
    color: aliceblue;

}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/**main style*/
main {
    max-width: 1440px;
    margin: 0 auto;
}

/**teams style*/
.teams-contain {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 45px;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 400px;
}

.teams-title .feature {
    color: #FF900E;
}

/**responsive medeia quary*/

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/**tablet*/
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 40px;
    }
}